<h1>Create a reservation</h1>

<%= form_for @reservation do |f| %>
	<%= f.label :party_size, "Party Size" %> <%= f.text_field :party_size %>
	<%= f.datetime_select :start %>
	<%= f.collection_select(:restaurant_id, Restaurant.all, :id, :name) %>
	<%= f.submit "Submit", class: "btn btn-default" %> <%= link_to 'Cancel', restaurants_path, class: "btn btn-default" %>
<% end %>		