<div class="container">

<%= form_for @restaurant do |f| %>
	<% if @restaurant.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@restaurant.errors.count, "error") %> This restaurant can't be saved: </h2>
				<ul><% @restaurants.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name, "Restaurant Name" %></br>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :location %></br>
		<%= f.text_field :location %>
	</div>

	<div class="field">
		<%= f.label :description %></br>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :max_occupy %></br>
		<%= f.text_field :max_occupy %>
	</div>

	<div class="action"><%= f.submit "Submit", class: "btn btn-default" %> <%= link_to 'Cancel', restaurants_path, class: "btn btn-default" %></div>

<% end %>

</div>