<h1>Restaurants</h1>

	<%= link_to "Create a Reservation", new_reservation_url %></br>
	<%= link_to "Add a Restaurant", new_restaurant_url %>

<% @restaurants.each do |restaurant| %>

	<p>
		<%= restaurant.name %>, 
		<%= restaurant.location %>,
		<%= restaurant.description %>.
		<%= link_to "Show", restaurant_path(restaurant) %>,
		<%= link_to "Edit", edit_restaurant_path(restaurant) %>,
		<%= link_to "Delete", restaurant, method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
	</p>

<% end %>